<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${hashtag.name}">Hashtag</title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">

        <header>
            <h1>The Best Damn Clothing Review</h1>
        </header>
        <div th:replace="fragments.html :: nav"></div>

        <main>
            <h2 th:text="${hashtag.name}">#onlineshopping</h2>
            <section class="logogrid">
                <ul>
                    <li th:each="retailer:${hashtag.retailers}">

                    <a th:href="'/retailer/'+${retailer.id}">
<!--                    <a href="retailer.html">-->
                        <img th:src="${retailer.imgUrl}">
                    </a>

                    </li>

                </ul>
            </section>
        </main>

        <footer>
            <p>copyright BDCR ©2022</p>
        </footer>

    </div>
</body>
</html>