<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${retailer.name}">Place Holder</title>
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="container">

    <div th:replace="fragments.html :: header"></div>
    <div th:replace="fragments.html :: nav"></div>


    <main>
      <h2 th:text="${retailer.name}">Place Holder</h2>
      <div class="reviewPage">
        <section class="companyInfo">
          <img th:src="${retailer.imgUrl}">
          <h2 th:text="${retailer.name}">Company Logo</h2>
          <h3 th:href="${retailer.website}"th:text="${retailer.website}">Website</h3>
          <h3>Overall Rating: 5/5 *****</h3>
          <h3>Related Hashtags:</h3>
          <ul>
            <li th:each="hashtag: ${retailer.hashtags}">
              <a th:href="'/hashtags/'+ ${hashtag.id}" th:text="${hashtag.name}">
                hashtag1
              </a>
            </li>
          </ul>


        </section>

        <div class="reviewBox">
          <ul>
            <li>
              <img src="https://fakeimg.pl/100x20" alt="" class="stars">
              <p>Excepteur qui enim qui nostrud ea. Excepteur culpa sint voluptate veniam velit pariatur consequat
                tempor
                laborum eiusmod adipisicing mollit esse. Quis laborum labore elit culpa adipisicing ullamco id culpa
                amet.
                Deserunt anim non nulla dolore qui non veniam eiusmod nisi id non eu ad mollit.
              </p>
            </li>
            <li>
              <img src="https://fakeimg.pl/100x20" alt="" class="stars">
              <p>Excepteur qui enim qui nostrud ea. Excepteur culpa sint voluptate veniam velit pariatur consequat
                tempor
                laborum eiusmod adipisicing mollit esse. Quis laborum labore elit culpa adipisicing ullamco id culpa
                amet.
                Deserunt anim non nulla dolore qui non veniam eiusmod nisi id non eu ad mollit.
              </p>
            </li>
            <li>
              <img src="https://fakeimg.pl/100x20" alt="" class="stars">
              <p>Excepteur qui enim qui nostrud ea. Excepteur culpa sint voluptate veniam velit pariatur consequat
                tempor
                laborum eiusmod adipisicing mollit esse. Quis laborum labore elit culpa adipisicing ullamco id culpa
                amet.
                Deserunt anim non nulla dolore qui non veniam eiusmod nisi id non eu ad mollit.
                <br><br>

              </p>
            </li>
          </ul>

        </div>
      </div>
      <section class="Forms">
        <form th:action="'/retailer/' + ${retailer.id}+ '/addHashtag'" method="post">
          <label for="hashtagID">Enter new hashtag:</label>
          <input type="text" name="hashtag" id="hashtagID">
          <input type="submit">
        </form>
      </section>
    </main>

    <div th:replace="fragments.html :: footer"></div>


  </div>
</body>

</html>